
.navbar .correct {
    -webkit-animation: .4s correct;
    animation: .4s correct;
}
  
.navbar .incorrect {
    -webkit-animation: .4s incorrect;
    animation: .4s incorrect;
}
  
@-webkit-keyframes correct {
    0% {
        color: #fff;
    }
  
    50% {
        color: #2e7d32;
    }
  
    to {
        color: #fff;
    }
}
  
@keyframes correct {
    0% {
        color: #fff;
    }
  
    50% {
        color: #2e7d32;
    }
  
    to {
        color: #fff;
    }
}
  
@-webkit-keyframes incorrect {
    0% {
        color: #fff;
    }
  
    50% {
        color: #c62828;
    }
  
    to {
        color: #fff;
    }
}
  
@keyframes incorrect {
    0% {
        color: #fff;
    }
  
    50% {
        color: #c62828;
    }
  
    to {
        color: #fff;
    }
}
  
.navbar {
    background: #c41dda;
    min-height: 70px;
    position: fixed;
    text-align: center;
    width: 100%;
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22);
    box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22);
    color: rgb(245, 224, 37);
    font-size: calc(10px + 14 * (100vw - 320px)/ 800);
    z-index: 99;
    white-space: nowrap;
}
  
.navbar ul {
    margin: 0;
    padding: 0;
}
  
.navbar li {
    display: inline-block;
    width: 33.3%;
    text-align: center;
}
  
.navbar a {
    text-decoration: none;
    color: rgb(245, 224, 37);
    font-weight: 900;
}

.navbar smLogo {
    height: 50px;
    width: auto;
}
  
@media (max-width: 420px) {
    .navbar li:first-child {
        width:25%;
    }
  
    .navbar li:nth-child(2) {
        width: 35%;
    }
  
    .navbar li:last-child {
        width: 40%;
    }
}
  